<p id="notice"><%= notice %></p>

<p>
  <strong>Starting mile:</strong>
  <%= @mileagelog.starting_mile %>
</p>

<p>
  <strong>Ending mile:</strong>
  <%= @mileagelog.ending_mile %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @mileagelog.rate %>
</p>

<p>
  <strong>Total miles:</strong>
  <%= @mileagelog.total_miles %>
</p>

<p>
  <strong>Mile total cost:</strong>
  <%= @mileagelog.mile_total_cost %>
</p>

<p>
  <strong>Work order:</strong>
  <%= @mileagelog.work_order %>
</p>

<%= link_to 'Edit', edit_mileagelog_path(@mileagelog) %> |
<%= link_to 'Back', mileagelogs_path %>
